@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F8F9FA;
  color: #1A1A1A;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

@layer base {
  body {
    @apply antialiased;
  }
}